<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .header {
            display: flex;
            justify-content: space-around;
        }

        .navbar {
            display: flex;
        }
    </style>
</head>
<body>
<header class="header">
    <div><h1>My homework</h1></div>
    <div class="navbar">
        <div>
            <button><a href="/auth/register">register</a></button>
        </div>
        <div>
            <form action="/auth/logout" method="post"><input type="submit" value="Log out"></form>
        </div>
    </div>
</header>
<h2>Welcome</h2>
<div><h3>Find user by email</h3>
    <form action="/users/find" method="get">
        <input name="email" type="email" placeholder="email">
        <input type="submit" value="find">
    </form>
</div>
<div><h3>delete my acc</h3>
        <form action="/users/{{currentUserEmail}}" method="delete"><input type="submit" value="delete"></form>
</div>
{{#each users}}
    <div>{{this.name}}</div>
    <div>{{this.email}}</div>
    <hr>
{{/each}}
</body>
</html>
