doctype html
html
    head
        style
            include style.css
            block content
        div.footer
            | Beast regards
            br
            | June-2020
            br
            a(href="http://localhost:5000") Our Site
